*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    position: relative;
    padding: 100px;
}

ul{
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
        cursor: pointer;
    }
}

#parent{
    --left:0px;
    --height:0px;
    display: contents;
    #mask{
        position: absolute;
        left: var(--left);
        width: 200px;
        height: var(--height);
        overflow: hidden;
        background-color: red;
        // background-color: yellow;
        transition: all 1s;
    }
    #container{
        position: absolute;
        left: calc(var(--left) * -1);
        transition: all 1s;
        .boxes{
            width: 300px;
            position: absolute;
            left: 0px;
            background-color: red;
            padding: 6px;
        }
    }
}